<form action="post" id="zonas">
    <div class="form-input">
        <label for="">Selecciones zona</label>
        <select name="" id="zonas">
            <option value="casa Magallanes">Magallanes</option>
            <option value="casa atacama">Atacama</option>
            <option value="casa ohiggins">Ohiggins</option>
            <option value="casa los andes">Los Andes</option>
            <option value="casa papudo">Papudo</option>
            <option value="casa valdivia">Valdivia</option>
            <option value="casa santiago">Santiago</option>
            <option value="casa chiloe">Chiloe</option>
            <option value="casa temuco">Temuno</option>
            <option value="casa Iquique">Iquique</option>
        </select>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>

